.entry-title {
	color: #F35758;
}

.woocommerce-cart-form__cart-item:hover, .woocommerce-cart-form__cart-item:hover a {
	background-color: #C9BCAB;
	color: #fff;
}

.woocommerce-cart-form__cart-item:hover .quantity input.qty {
	background-color: #C9BCAB !important;
	color: #fff;
}

.woocommerce-cart-form__cart-item:hover a.remove {
	visibility: visible;
}

.woocommerce-cart .container {
	width: 90%;
	max-width: 100%;
}

.woocommerce-cart #left-area {
	width: 70% !important;
}

/* cart image */
#post-8 {
	width: 90%;
}

.woocommerce-cart table.cart img {
	width: 100%;
	height: 156px;
}

.woocommerce-cart td {
	padding: 35px 22px !important;
}

.woocommerce-cart .product-thumbnail {
	width: 35%;
}

.woocommerce-cart .product-name {
	font-size: 30px;
	font-family: 'ITCCaslonBook';
	line-height: 1.5 !important;
	padding-top: 30px !important;
	vertical-align: top !important;
}

.woocommerce-cart .variation {
	font-size: 16px;
	font-family: 'FilsonProBook';
	line-height: 1.5 !important;
}

.woocommerce-cart .product-price, .woocommerce-cart .product-subtotal {
	vertical-align: top !important;
}

.woocommerce .quantity input.qty {
	background-color: #fff !important;
	color: #000;
	font-size: 16px !important;
	vertical-align: top !important;
	height: auto;
}

.woocommerce .product-quantity {
	display: flex;
}

/*delete button*/
.woocommerce a.remove  {
	background-color: #f35758;
	height: auto;
	width: inherit;
	border-radius: 0;
	color: #fff !important;
	padding: 9px 17px;
	margin-top: 90%;
	visibility: hidden;
}

#post-8 {
	margin-top: 2.5%;
}

#post-8 .checkout-button {
	background: rgb(244,86,94);
background: -moz-linear-gradient(128deg, rgba(244,86,94,1) 23%, rgba(241,88,74,1) 59%, rgba(238,89,54,1) 98%);
background: -webkit-linear-gradient(128deg, rgba(244,86,94,1) 23%, rgba(241,88,74,1) 59%, rgba(238,89,54,1) 98%);
background: linear-gradient(128deg, rgba(244,86,94,1) 23%, rgba(241,88,74,1) 59%, rgba(238,89,54,1) 98%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4565e",endColorstr="#ee5936",GradientType=1);
	border-radius: 0;
	color: #fff !important;
	font-size: 22px;
	font-family: 'Value';
	width: 90%;
	left: 1.6%;
	top: 65px;
}

.woocommerce a.remove:hover {
	background: #f5861f;
}

.woocommerce-cart .entry-title, .woocommerce-cart h2 {
	font-family: 'ITCCaslonBook';
	font-size: 49px;
}

.woocommerce table.shop_table {
	border: 0;
	width: 110%;
}

.cart-collaterals {
	position: sticky; 
	bottom: 15%; 
	width: 50% !important; 
	margin-left: 110%;
	padding-top: 57px;
	padding-left: 29px;
	border-top: 8px solid #000;
	border-bottom: 8px solid #000;
}


.cart-collaterals td {
	padding-top: 10px !important;
	text-align: right;
}

#post-8 .shipping th, #post-8 .cart-subtotal th, #post-8 .order-total th {
	text-transform: uppercase;
	font-weight: 600;
}

#post-8 td, #post-8 th, #post-8 tr {
	border: 0 !important;
}

/* coupon */
#coupon_code {
	height: 61px;
	font-size: 22px;
	padding-left: 16px;
	font-family: 'Value';
	background-color: gray;
	color: #fafafc;
}

#coupon_code::placeholder {
	color: #fafafc;
}
.coupon .button {
	height: 61px;
	color: #fff !important;
	background: #000 !important;
	font-family: 'Value';
	font-size: 22px;
	padding-left: 59px !important;
	padding-right: 59px !important;
	bottom: 1px;
	right: 2%;
}

.coupon .button:hover {
	color: #fff !important;
}

.actions button {
	background: #c9bcab !important;
}
