body {
	touch-action: manipulation;
	overflow-x: hidden !important;
}

.hide, .et-cart-info {
	display: none !important;
}

/* header - main and top */
#top-header {
	background-color: inherit;
	z-index: 21;
	margin-left:67%;
	top: 36px !important;
	position: fixed !important;
}

#top-header a {
	color: #fff;
}

#main-header {
	height: 162px;
	background: linear-gradient(180deg, rgba(0, 0, 0) 70%, rgba(53, 53, 53, 0.5) 30%);
	top: 0 !important;
	z-index: 19;
	position: fixed !important;
}

#et-top-navigation {
	float: left;
	padding-left: 0 !important;
}

#mega-menu-wrap-primary-menu {
	top: 10px;
}

#et-secondary-menu {
	position: fixed;
}

.logo_container {
	top:10px;
	height: 110px !important;
}

#main-header .container, #top-header .container {
	width: 90%;
	max-width: 90%;
}
/*margin for top-menu*/
#et-secondary-nav li {
	margin-right: 84px;
	font-family: 'ValueBold',Helvetica,Arial,Lucida,sans-serif !important;
}

#mega-menu-primary-menu li {
	margin-right: 70px;
	font-family: 'ValueBold',Helvetica,Arial,Lucida,sans-serif !important;
}

/* hero image */
.wmLax .et_pb_slide {
	padding-top: 246px;
}

.wmLax .et_pb_container {
	float: right;
	left: 20%;
}

.et_pb_slide_title {
	font-size: 138px !important;
	font-style: italic;
	padding-bottom: 50px;
}

.et_pb_slide_description {
	width: 60%;
}

/* the freelancer text h1 */
.fullCol2 .et_pb_text_10 {
	margin-top: 22%;
	margin-bottom: -4% !important;
}

#main-footer, .woocommerce .woocommerce-breadcrumb, .woocommerce-tabs, .wc-tabs-wrapper, .onsale, .reset_variations, .et_overlay, .archive #sidebar {
	display: none !important;
}

.mega-sub-link {
	left: -45%;
}

/* border bottom for table cost*/
.border-bottom {
	border-bottom: 1px solid black;
}

/* cart */

.woocommerce-cart .container {
	width: 90%;
	max-width: 100%;
}

.woocommerce-cart #left-area {
	width: 70% !important;
}

/* cart image */
#post-8 {
	width: 90%;
}

.woocommerce-cart table.cart img {
	width: 100%;
	height: 156px;
}

.woocommerce-cart .product-thumbnail {
	width: 35%;
}

.woocommerce-cart .product-name {
	font-size: 30px;
	font-family: 'ITCCaslonBook';
	line-height: 1.5 !important;
	padding-top: 0 !important;
}

.woocommerce-cart .variation {
	font-size: 16px;
	font-family: 'FilsonProBook';
	line-height: 1.5 !important;
}

.woocommerce-cart .product-price, .woocommerce-cart .product-subtotal {
	vertical-align: top !important;
}

.woocommerce .quantity input.qty {
	background-color: #fff !important;
	color: #000;
	font-size: 16px !important;
	vertical-align: top !important;
	padding-bottom: 30px;
	padding-right: 30px;
}

.woocommerce .product-quantity {
	display: flex;
}

/*delete button*/
.woocommerce a.remove {
	background-color: #f5861f;
	height: auto;
	width: inherit;
	border-radius: 0;
	color: #fff !important;
	padding: 9px 17px;
	margin-top: 90%;
}

.woocommerce a.remove:hover {
	background: #f5861f;
}
